*{
    padding :0;
    margin: 0;
}

.logo_image{
    display: flex;
    float: left;
}

.logo{
    width: 160px;
    height: 50px;
    margin-top: 9px;
    display: inline-block;
}

header{
    background-image: linear-gradient(to bottom right, #1c253c, #4F66A1);
    height: 60px;
    width: 100%;
}

body{
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.register_login{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.reg_log{
    list-style: none;
    background-color: #2B2B2B;
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px 4px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width:80px;
    text-decoration: none;
}

.reg_log:hover{
    transition: all 0.3s ease;
    color:black;
    background-color: lightblue;
}

.menu{
    width: 105px;
    background-color:#2B2B2B;
    color: white;
    border: none;
    padding: 15px 0px;
    margin-top: 0;
    display: inline-block;
    font-weight: bold;
    
}

.menu:hover{
    cursor: pointer;
    background-color: lightblue;
    transition: all 0.3s ease;
    color:black;
}

.nav{
    background-color: #2B2B2B;
    width: 100%;
    display: flex;
}


.dropdown_cnt{
    background-color: #2B2B2B;
    color: white;
    width: 105px;
    list-style: none;
    text-align: center;
    margin-top: 15.5px;
    display: none;
    position: absolute;
}

.dropdown_content{
    padding-top:15px;
    padding-bottom:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.dropdown_content:hover{
    background-color: lightblue;
    transition: all 0.3s ease;
    cursor: pointer;
    color:black;
}

.dropdown:hover .dropdown_cnt{
    display :block;
}

.dropdown{
    width: 105px;
    background-color:#2B2B2B;
    color: white;
    border: none;
    padding: 15px 0px;
    margin-top: 0;
    font-weight: bold; 
}

.dropdown:hover{
    cursor: pointer;
    background-color: lightblue;
    transition: all 0.3s ease;
    color:black;
}

.active{
    background-color: #2B2B2B;
    width: 105px;
    color: white;
    border: none;
    padding: 15px 0px;
    margin-top: 0;
    font-weight: bold;
}

.active:hover{
    background-color: lightblue;
    transition: all 0.3s ease;
    color:black;
    cursor: pointer;
}

.burger_link{
    text-decoration: none;
    color:white;
}

.register_form{
    margin-top: 30px;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2B2B2B;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.sosmed{
    margin-right: 5px;
    margin-left:5px;
    margin-top:10px;
    padding-bottom: 10px;
    height:15px;
}

.copy_text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.name{
    padding: 0 20.2%;
}

#user_name{
    border: none;
    border-bottom: 2px solid black;
    width : 100%;
    margin: 15px 0px;
}

.email{
    padding: 0 20.2%;
}

#user_email{
    border: none;
    border-bottom: 2px solid black;
    width : 100%;
    margin: 15px 0px;
}

.gender{
    padding: 0 20.2%;
}

.city{
   padding: 0 20.2%;
}

#user_city{
    width : 100%;
    padding-top: 5px;
    margin: 15px 0px;
}

.password{
    padding: 0 20.2%;
}

#user_password{
    border: none;
    border-bottom: 2px solid black;
    width : 100%;
    margin: 15px 0px;
}

.confirm_password{
    padding: 0 20.2%;
}

#confirm_password{
    border: none;
    border-bottom: 2px solid black;
    width : 100%;
    margin: 15px 0px;
}

.button{
    text-align: center;
}

.register_button{
    margin-top: 12px;
    text-align: center;
    background-color: #2B2B2B;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 50px;
    cursor: pointer;
}

.register_button:hover{
    transition: all 0.3s ease;
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .register_login{
        justify-content: center;
        margin:0;
    }

    .logo_image{
        float: none;
        justify-content: center;
    }

    .logo{
        width: 200px;
        height: 100px;
        margin-top:0;
    }

    header{
        height: 4.48cm;
    }

    .nav{
        justify-content: center;
    }

    footer{
        margin-top: 50px;
        position: relative;
    }

    .active{
        width:100%;
    }

    .dropdown{
        width: 100%;
    }

    .menu{
        width: 100%;
    }
    
    .dropdown_cnt{
        width: 33.4%;
        margin-top:15px;
    }
}